@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}

.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 92px;
    background-color: red;
    box-shadow: 0px 5px 5px lightgrey;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
.top_content{
    margin-left: 21px;
    display: flex;
    flex-direction: column;
}

.top .title{
    font-family: 'Righteous';
    font-size: 44px;
    color: #FFFFFF;
}

.top .subtitle{
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
}

.content{
    margin-top: 123px;
    margin-bottom: 108px;
}


.food_section{
    display: flex;
    flex-direction: column;
    margin-left: 19px;  
    margin-bottom: 27px;
    position: relative;
}

.food_section .section_title{
    font-family: 'Righteous';
    color: black;
    margin-bottom: 17px;
    font-size: 26px;
}

.food_gallery{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.food_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 172px;
    height: 216px;
    border-radius: 10%;
    background-color: white;
    font-family: 'Roboto';
    margin-right: 16px;
}



.food_box img{
    margin-top: 18px;
    width: 144px;
    height: 87px;
    border-radius: 5px;
}

.food_box .food_name{
    width: 144px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.food_box .food_description{
    width: 144px;
    word-wrap: wrap ;
    font-weight: light;
    font-size: 15px;
    line-height: 20px;
    color: #A6A6A6;
    margin-bottom: 5px;
}

.food_box .food_price {
    display: flex;
    justify-content: space-between;
    width: 144px;
    margin-bottom: 13px;
}

.value{
    font-size: 16px;
    font-weight: bold;
}

.tick {
    color: green;
}
.hidden{
    display:none;
}

.select_menu{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;
    background-color: white;
}

.select_menu .button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 200px;
    color: #FFFFFF;
    min-width: 364px;
    height: 61px;
    font-size: 20px;
}

.button_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    font-family: Roboto;
}

.selected{
    border: 5px solid green;
}

.deactivated{
    background-color:#CBCBCB;
}

.activated{
    background-color: green;
}

a{
    text-decoration: none;
}
